{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.firstName'|trans }}: {{ user.name }}</p>
    <p>{{ 'profile.show.lastName'|trans }}: {{ user.name }}</p>
    <p>{{ 'profile.show.address'|trans }}: {{ user.name }}</p>
    <p>{{ 'profile.show.phone'|trans }}: {{ user.name }}</p>
    <p>{{ 'profile.show.age'|trans }}: {{ user.name }}</p>
    <p>{{ 'profile.show.bloodType'|trans }}: {{ user.name }}</p>
    <p>{{ 'profile.show.rhFactor'|trans }}: {{ user.name }}</p>
</div>
