{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.firstName'|trans }}: {{ user.firstName }}</p>
    <p>{{ 'profile.show.lastName'|trans }}: {{ user.lastName }}</p>
    <p>{{ 'profile.show.town'|trans }}: {{ town }}</p>
    <p>{{ 'profile.show.phone'|trans }}: {{ user.phone }}</p>
    <p>{{ 'profile.show.age'|trans }}: {{ user.age }}</p>
    <p>{{ 'profile.show.bloodType'|trans }}: {{ user.bloodType }}</p>
</div>
